.container {
    height: 500px;
    width: 500px;

}
.container h1 {
    text-transform: capitalize;
    font-weight: bold;
}
.button_one {
    position: relative;
    height: 200px;
    width: 300px;
}

.btn-next {
    position: absolute;
    
    right: 0;
}

#image {
    width: 100%;
}